# Drizzle
DATABASE_URL="postgres://user:password@host:port/db-name"

# Supabase
SUPABASE_URL="https://xyz.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
SUPABASE_ANON_KEY="your-anon-key"

# AWS
REGION=ap-southeast-1
AWS_LOCATION_COUNTRY=Singapore
AWS_LOCATION_INDEX_NAME="your-index-name"
AWS_LOCATION_CALCULATOR_NAME="your-calculator-name"
AWS_LOCATION_API_KEY="your-api-key"

# SQS
QUEUE_URL="your-sqs-queue-url"

# Distance
MAX_DISTANCE_KM=5

# Stripe
PUBLIC_STRIPE_KEY="your-stripe-public-key"
SECRET_STRIPE_KEY="your-stripe-secret-key"
STRIPE_WEBHOOK_SECRET="your-stripe-webhook-secret"

# Config
PUBLIC_DISABLE_SIGNUP=false # Set to true to disable signup