@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Lora:wght@400;700&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-light-brown: #988a89;
	--color-dark-brown: #262626;
	--color-beige: #f6f3ec;
	--color-dull-gray: #d9d8d3;
	--color-grey: #bebeb8;
	--color-olive: #303a2f;
	--color-light-olive: #4a5849;
	--color-light-green: #bec4aa;
	--color-background: var(--color-light-brown);
	--color-foreground: var(--color-dark-brown);

	--font-headings: 'Old Standard TT', serif;
	--font-body: 'Lora', sans-serif;
}

html {
	scroll-behavior: smooth;
}
